@import '../node_modules/foundation-sites/scss/foundation';

@include foundation-global-styles;
@include foundation-grid;

$md-screen: 767px;
$red: #FF9696;
$green: #BBFFB6;
$yellow: #FFE402;
$hover: #F0F0F0;

header {
	@include grid-row();
	
	h1 {
		@include grid-column(12);
		margin-bottom: 0;
	}
}

#top-rated-header, #explore-header {
	@include grid-row();
	
	h2 {
		@include grid-column(12);
	}
	
	p {
		@include grid-column(12);
		margin-top: -1em;
	}
}

ul {
	padding: 0;
	margin: 0;
	
	li {
		@include grid-row();
		list-style: none;
		padding-top: 10px;
		padding-bottom: 5px;
		border-bottom: 1px dotted #ccc;
		transition: 0.1s ease-in;
		
		.info {
			@include grid-column(12);
			
			img {
				width: 200px;
			}
			
			@include breakpoint($md-screen) {
				@include grid-column(9);
				
				img {
					width: 150px;
					float: left;
					margin-right: 1em;
				}
			}
			
			p {
				margin: 0.3em;
				line-height: 1.2em;
			}
			.title {
				font-weight: bold;
			}
			.date {
				opacity: 0.8;
			}
			.genre {
				opacity: 0.8;
				font-style: italic;
				margin-top: 0;
				:not(:last-child):after {
					content: ', ';
				}
			}
		}
		
		.rating {
			@include grid-column(12);
			text-align: right;
			
			@include breakpoint($md-screen) {
				@include grid-column(3);
			}
		}
		
		&:first-child {
			border-top: 1px dotted #ccc;
		}
		
		&:hover {
			background-color: $hover;
		}
		
		&.like {
			background-color: $green;
		}
		
		&.dislike {
			background-color: $red;
		}
		
	}
}

button:not(.star):not(.trash) {
	@include button();
	float: none;
	background-color: #ccc;
	color: black;
}

button {
	&.star, &.trash {
		.fa {
			font-size: 1.3em;
			padding: 0.1em;
		}
		.fa-star {
			color: $yellow;
		}
		
		&.trash > i.fa {
			color: red !important;
		}
		
		&:select, &:focus {
			outline: none;
			border: none;
			text-shadow: none;
		}
	}
}